.logo {
  position: absolute;
  top: 10%;
  width: 350px; /* Defina a largura desejada para a div */
  height: 350px; /* Defina a altura desejada para a div */
  background-image: url('https://raw.githubusercontent.com/wkice-wilker/projetoIOT/main/public/imagens/Logo.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center; /* Centraliza a imagem dentro da div */
}
.icone {
  position: absolute;
  top: 2%;
  left: 18%;
  width: 50px; /* Defina a largura desejada para a div */
  height: 50px; /* Defina a altura desejada para a div */
  background-image: url('https://raw.githubusercontent.com/wkice-wilker/projetoIOT/main/public/imagens/Logo.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center; /* Centraliza a imagem dentro da div */
}

.logo-fundo {
  position: fixed;
  top: 7%;
  left: -110%;
  width: 950px; /* Defina a largura desejada para a div */
  height: 950px; /* Defina a altura desejada para a div */
  background-image: url('https://raw.githubusercontent.com/wkice-wilker/projetoIOT/main/public/imagens/logo-fundo.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center; /* Centraliza a imagem dentro da div */
  z-index: -1;
}

.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 170px;
  height: 170px;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  text-align: center;
  background-color: #ffffff1c;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 5px ;

}


#listaHistorico li{
  width: auto;
  height: auto;
  align-items: baseline;
  padding: 10px;
  border-radius: 15px;
  list-style-type: none;
  background-color: #ffffff1c;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-size: 20px;
}

.listaHistorico{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#historicoDados{
  width: 90%;
  flex-direction: column;
  align-items: center;
}
.h2{
  align-items: center;
  text-align: center;
}

.container {
    width: 8em;
    height: 8em;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 2rem;
    z-index: 1;
  }
  
  .button {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 4px solid #090909;
    background-color: transparent;
    background-image: linear-gradient(145deg, #171717, #444245);
    box-sizing: border-box;
    box-shadow: inset 2px 2px 0 #7d7c7e, inset -2px -2px 0px #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container input {
    display: none;
  }
  
  .button::before {
    position: absolute;
    content: "";
    width: 7.25em;
    height: 7.25em;
    border-radius: inherit;
    background-color: transparent;
    background-image: linear-gradient(145deg, #262626, #606060);
    z-index: -1;
    box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
  }
  
  .button .icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    padding-bottom: 30px;
  }
  
  .button .icon svg {
    height: 100%;
    width: 100%;
    fill: #a5a5a5;
    
  }
  
  .container   .button .conectado {
    box-shadow: inset -2px -2px 0 #5e5e5e,inset 2px 2px 0 #1c1c1c;
    border: 4px solid rgba(77, 124, 255, 0.281);
    animation: animeBorder .3s linear alternate-reverse infinite;
  }
  
  .container   .button  .icon  svg .conectado{
    fill: rgb(77, 124, 255);
    animation: animeFill .3s linear alternate-reverse infinite;
  }

  @keyframes animeFill {
    to {
      fill: rgba(77, 124, 255, 0.642);
    }
  }
  
  @keyframes animeBorder {
    to {
      border-color: rgba(77, 124, 255, 0.137);
    }
  }

  .botao {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 27px;
    align-items: center;
    align-content: end;
    color: #a5a5a5;
    z-index: 1;
  }
  .dados{
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: #a5a5a5;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


  .container-card{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    color: #a5a5a5;
  }
  h2 ,h1{
    font-style: oblique;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  h1{
    color: #02509d;
  }

  h2 {
    font-size: 30px;
  }

  .dado-card{
    display: flex;
    width: 100%;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    color: #a5a5a5;
  }


  /* plano de fundo */
  .fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding-bottom: 5rem;
    z-index: -1;
    border: 0;
    background: radial-gradient(
          circle farthest-side at 0% 50%,
          #282828 23.5%,
          rgba(255, 170, 0, 0) 0
        )
        21px 30px,
      radial-gradient(
          circle farthest-side at 0% 50%,
          #2c3539 24%,
          rgba(240, 166, 17, 0) 0
        )
        19px 30px,
      linear-gradient(
          #282828 14%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 85%,
          #282828 0
        )
        0 0,
      linear-gradient(
          150deg,
          #282828 24%,
          #2c3539 0,
          #2c3539 26%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 74%,
          #2c3539 0,
          #2c3539 76%,
          #282828 0
        )
        0 0,
      linear-gradient(
          30deg,
          #282828 24%,
          #2c3539 0,
          #2c3539 26%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 74%,
          #2c3539 0,
          #2c3539 76%,
          #282828 0
        )
        0 0,
      linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
        #282828;
    background-size: 40px 60px;
  }

  /*barra de progresso*/

  progress {
    width: 100%;
    height: 15px;
    margin: 0;
    border-radius: 15px;
    padding: 0 5px 0 5px;
   

}

/* Estilize a barra de progresso */
progress::-webkit-progress-bar {
    background-color: #2a2a2a;
    border-radius: 15px;
   
}

/* Estilize a barra de progresso preenchida */
progress::-webkit-progress-value {
    background-color: #000059;
    border-radius: 15px;
    
}
